@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Condensed&display=swap');
html{scroll-behavior:smooth}
body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #fff1d6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    width: 100%;
    text-align: center;
    order: -1;
    
}

header {
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    position: relative;
    background-color: #fff1d6;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* adjust the top margin based on the navbar's height */
    width: 100%;
    height: auto;
}

h1 {
    display: inline;
    vertical-align: middle;
    overflow: hidden;
    font-size: 32px;
}

#now-showing > h2 {
    grid-column: 1 / -1;
    justify-self: start;
}
nav {
    position: sticky;
    top: -1px;
    width: 100%;
    background-color: #3C3744;

    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    z-index: 1000;
    padding-top: 10px;
      
}

.nav-curve{
    overflow: hidden;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px; 

}

.navbar ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #3C3744;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    padding-bottom: 20px;
    
  }
  
.navbar li {
    float: right;
    vertical-align: middle;
    backface-visibility: hidden;
    
  }
  
.navbar li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    backface-visibility: hidden;
    font-size: large;
  }
.nav-title{
    color: #fff1d6;
}
.nav-title.is-pinned{
    color: #fff1d6;
}
  
li a:hover {
    color: #fff1d6;
  }

section {
    min-height: 100vh;
}

.Heading-title{
    margin-top: 100px;
}

#about-us{
    margin-left: 10%;
    margin-right: 10%;
}
#about-us, #seats-prices, #now-showing {
    padding: 20px;
}


#seats-prices img {
    width: 100%;
    max-width: 400px;
}

.seating-images img {
    width: 100%;
    max-width: 300px;
    margin: 10px;
}

.prices-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.prices-table th, .prices-table td {
    border: 1px solid #346A4F;
    padding: 8px;
    text-align: left;
}

.movie-panel {
    border: 2px solid #000;
    position: relative;
    width: 200px;
    height: 300px;
    overflow: hidden;
    perspective: 1000px;
    margin-bottom: 20px;
}
.movie-panel .panel-front, .movie-panel .panel-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.6s;
}
.panel-front, .panel-back {
    backface-visibility: hidden;
    transition: transform 0.6s;
}
.movie-panel .front, .movie-panel .back {
    padding: 10px;
}

.panel-back {
    transform: rotateY(180deg);
    background-color: rgba(0, 0, 0, 0.5);
}
.panel-back p, .panel-back ul, .panel-back li, .panel-back a{

    margin-left: auto;
    margin-right: auto;
    width: 8em;
    color: white;
    text-align: center;
    backface-visibility: hidden;
}

.movie-panel:focus .panel-front {
    transform: rotateY(-180deg);
}

.movie-panel:focus .panel-back {
    transform: rotateY(0deg);
}

.movie-panel .panel-front {
    position: relative;
    width: 200px;
    height: 300px;
    overflow: hidden;

    margin-bottom: 20px;
}

.movie-panel .panel-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.movie-panel .panel-front .movie-info {
    
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 5px;
    
}

.movie-panel .panel-front .movie-info h3,
.movie-panel .panel-front .movie-info p {
    margin: 0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #346A4F;
    color: white;
}

@media (max-width: 600px) {
    
}

/* Small / Mobile View */
@media (max-width: 600px) {
    .movie-panel {
        margin-left: auto;
        margin-right: auto;
    }

    .movie-panel .panel-front .movie-info {
        position: absolute;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        padding: 5px;
    }
}

/* Medium / Tablet View */
@media (min-width: 601px) and (max-width: 1000px) {
    .movie-panel {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .movie-panel .panel-front {
        flex: 1;
        display: flex;
        flex-direction: row;
    }
    .movie-panel .panel-front img {
        width: 50%;
    }
    .movie-panel .panel-front .movie-info {
        width: 50%;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}




/* Large / Desktop View */
@media (min-width: 1001px) {
    #now-showing {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        justify-items: center;
        align-items: start;
        margin-top: 20px;
    }
    .movie-panel {
        width: calc(50% - 20px); 
        margin: 10px; 
        display: flex; 
        flex-direction: row;
    }
    .movie-panel .panel-front {
        flex: 1;
        display: flex;
        flex-direction: row;
    }
    .movie-panel .panel-front img,
    .movie-panel .panel-front .movie-info {
        flex-basis: 50%;
        width: 50%;
    }
    .movie-panel .panel-front .movie-info {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
